@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --black-primary: #000000;
  --black-secondary: #414142;

  --red-primary: #df3f44;
  --red-secondary: #ffe0e0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-scroll {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.overflow-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
